<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 impt-copy">
      <h1>Our story</h1>
      <div class="row">
        <div class="col-md-4">
          <img class="about-image img-circle img-responsive" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/06b/043/1c88c60.jpg" alt="arjun">
        </div>
        <div class="col-md-8">
          <p>I founded Loris because I haven't seen online programming education done right. It always feels like there's something missing.</p>
          <p>I've taught programming to a range of students: middle- and high-schoolers, Chicago Public School teachers, working adults looking for a career change and MBA students from Kellogg and Booth. All my students were most engaged when they were working on projects they desgined themselves.</p>
        </div>
        <div class="col-md-12">
          <p>Building your own projects is hard work that requires support. High-quality in-person classes are often too expensive or not available nearby, especially for younger students. But existing online programs don't provide the support and social interaction that most of us need to really learn. Loris gives complete beginners an affordable but personalized learning experience so they can experience the thrill of turning their ideas into reality.</p>
        </div>
      </div>
    </div>
  </div>
</div>

