<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 impt-copy">
      <h1>After school programs</h1>
      <div class="row">
        <div class="col-md-12">
          <p>All our technology courses are also offered as in-person, after-school programs. We provide carefully chosen, background-checked instructors who travel to your school at a time that works best for your students. Or, we can train and support your own teachers, who are then hired as instructors for our programs.</p>
          <p>Like our online programs, our beginner-focused after school programs run in 8-week blocks that fit well into most schools' quarterly schedules. Students also recieve virtual support during the week as they design and build their own projects. Sections are capped at an 8:1 student-techer ratio to ensure that each student gets enough attention to develop the higher level problem-solving skills that are essential to working with technology.</p>
          <p>A core feature of our in-person programs is on-demand access to our expert troubleshooters. Enountering bugs is one of the most intimidating aspects of teaching or taking a technology course, but support from our staff is only a click away.</p>
          <p>For more information, please contact us at <a href="mailto:hello@lorislearning.com">hello@lorislearning.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

