<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Apply for a course</h1>
      <form action="">
        <h2>1. Choose a course</h2>
        <div class="form-group">
          <label for="course" class="sr-only">Course</label>
          <select name="course" id="course" class="form-control">
            <option value="1">Website design</option>
            <option value="2">Web app development - Phase 1</option>
          </select>
        </div>
        <h2>2. </h2>
      </form>
    </div>
  </div>
</div>
