<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Our classes</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object course-img" src="http://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" alt="html5">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Website Design</h4>
              <div>Build beautiful single-page sites.</div>
              <div>Level: beginner</div>
              <div>Prerequisites: none</div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object course-img" src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="rails">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Web App Development</h4>
              <div>Build web apps to solve real-world problems</div>
              <div>Level: intermediate</div>
              <div>Prerequisites: Basic HTML and CSS</div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object course-img" src="http://examples.phaser.io/assets/sprites/phaser2.png" alt="rails"></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">JavaScript Game Development</h4>
              <div>Design your own 2D platformer</div>
              <div>Level: beginner</div>
              <div>Prerequisites: none</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
