<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 impt-copy">
      <h1>Game Development - Phase 1</h1>
      <p>This course is for complete beginners who have never coded before. You'll learn basic programming concepts as your design and build your own 2D platformer game.</p>
      <h2>What you'll build</h2>
      <p>A simple Mario-style platformer, with a character that can jump, gain points and lose health according to rules that you create.</p>
      <!-- <a class="thumbnail" href="http://loris-rails-1.herokuapp.com" target="_blank">
        <%= image_tag('rails_1_example.png', class: 'img-responsive') %> -->
      </a>
      <div class="row">
        <div class="col-md-6">
          <h3>Skills and concepts you'll learn</h3>
          <ul class="list-group">
            <li class="list-group-item">How to set up your computer for  programming in Rails</li>
            <li class="list-group-item">A basic Git workflow</li>
            <li class="list-group-item">How to deploy a game with Heroku</li>
            <li class="list-group-item">How to use conditional logic in JavaScript</li>
            <li class="list-group-item">How to use functions in JavaScript</li>
            <li class="list-group-item">How to use arrays in JavaScript</li>
            <li class="list-group-item">How to use loops in JavaScript</li>
            <li class="list-group-item">How to import your own sprites and images into a game</li>
            <li class="list-group-item">Basic principles of game design</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Timeline</h3>
          <p>The estimated time to finish this course is 12 weeks. Plan to spend about 1-2 hours per week working on the material outside of lab time.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>Prerequisite courses:</h3>
          <p>None!</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


