<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 impt-copy">
      <h1>Game Development - Phase 1</h1>
      <p>This course is for complete beginners who have never coded before. You'll learn basic programming concepts as your design and build your own 2D platformer game.</p>
      <h2>What you'll build</h2>
      <p>A simple Mario-style platformer, with a character that can jump, gain points and lose health according to rules that you create.</p>
      <!-- <a class="thumbnail" href="http://loris-rails-1.herokuapp.com" target="_blank">
        <%= image_tag('rails_1_example.png', class: 'img-responsive') %> -->
      </a>
      <h2>Course structure</h2>
      <p>You'll attend weekly online video labs with one of our coaches to work on practice problems and ask questions about your final project. In between labs you'll go through tutorials to get familiar with new topics.</p>
      <div class="row">
        <div class="col-md-6">
          <h3>Skills and concepts you'll learn</h3>
          <ul class="skill-list">
            <li class="skill-list-item">How to troubleshoot programming bugs</li>
            <li class="skill-list-item">How to translate ideas into code</li>
            <li class="skill-list-item">How to use conditional logic in JavaScript</li>
            <li class="skill-list-item">How to use functions in JavaScript</li>
            <li class="skill-list-item">How to use arrays in JavaScript</li>
            <li class="skill-list-item">How to use loops in JavaScript</li>
            <li class="skill-list-item">How to import your own sprites and images into a game</li>
            <li class="skill-list-item">Basic principles of game design</li>
          </ul>

        </div>
        <div class="col-md-6">
          <h3>Prerequisite courses:</h3>
          <p>None!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>Timeline</h3>
          <p>The course is 8 weeks long. Plan to spend about 1-2 hours per week working on the material outside of lab time.</p>
        </div>
        <div class="col-md-6">
          <h3>Cost</h3>
          <div class="cost">
            $399
          </div>
          <div class='spacer'>
            <a href="/apply" class="btn loris-btn-primary btn-lg">Apply now!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


