<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Loris</h1>
        <h2>personalized technology education</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Learning online can be rough</h2>
      <p>We know what it's like. You get super excited to learn a new technology online. You stick with it for a couple of weeks or maybe even a couple of months. But then things change. It doesn't seem quite as fun any more, or something comes up and you can't put in the same amount of time. Your daily programming sessions turn into weekly sessions that turn into monthly sessions, and before you know it things suddenly feel weirdly hard. Then you think, "Maybe this stuff isn't for me..."</p>

      <p>The truth is, existing online systems aren't built for the ways that most of us learn. We need to work on our own ideas. We need lots of feedback and practice. We need to talk through our conceptions with other learners. We need help from a coach when we get stuck. And most importantly, we need to feel like we're not in this alone.</p>

      <p><strong>Loris is here to help</strong></p>

      <p>We'll provide the support and feedback you need so learning stays fun and engaging. Here's an overview of what you'll get when you sign up for a course with us:</p>

      <h4 class='spacer'>Structured, high quality curriculum</h4>
      <p>Our courses are designed by experienced technology educators who know how to craft interesting sequences of material. Our project-based curriculum means you'll be building real applications as you learn.</p>

      <h4 class='spacer'>Personalized feedback</h4>
      <p>We've seen that students learn the most when they build out their own ideas. In addition to our structured sequences, we'll also suggest custom content and give you tips that relate to your personal projects. We want you to feel comfortable building your own applications from scratch.</p>

      <h4 class='spacer'>Plenty of practice</h4>
      <p>We'll give you enough practice to master core skills, but we won't overload you with rote exercises. We'll also mark your learning with a portfolio of project-based milestones, so you can show off examples of your progress.</p>

      <h4 class='spacer'>Social connections with other learners</h4>
      <p>It's no secret that learning is a social process. We've found that students gain a lot from explaining their thought process to someone else. Every week, you'll participate in small-group videochat sessions with a coach so you can present your knowledge and get instant feedback to fill in knowledge gaps.</p>

      <h4 class='spacer'>Accountability</h4>
      <p>We'll keep track of your progress and check-in when it seems like you might need some help. Parents who sign their children up as students have the option to receive regular progress reports.</p>

      <h2>Course descriptions coming soon!</h2>
    </div>
  </div>

</div>
