<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 impt-copy">
      <h1>Website Design - Phase 1</h1>
      <p>This course is for complete beginners who have never touched a line of code. You'll learn the basics of HTML and CSS along with easy-to-implement design principles. By the end of the course, you'll have created your own single-page site that's live on the web for the world to see!</p>
      <h2>What you'll build</h2>
      <p>You'll design and code your own site, so you'll have a lot of freedom in what you build. It can be a personal site, a site with information you're passionate about or a business site. Click on the image below to check out an example final project (it might take a few seconds to load).</p>
      <a class="thumbnail" href="http://htmlpreview.github.io/?https://github.com/lorislearning/html/blob/master/website_design/example.html" target="_blank">
        <%= image_tag('html_example.png', class: 'img-responsive') %>
      </a>
      <div class="row">
        <div class="col-md-6">
          <h3>Skills and concepts you'll learn</h3>
          <ul class="list-group">
            <li class="list-group-item">HTML and CSS structure</li>
            <li class="list-group-item">Common HTML tags and CSS properties</li>
            <li class="list-group-item">Basic design principles</li>
            <li class="list-group-item">How to use the Bootstrap framework</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Timeline</h3>
          <p>The estimated time to finish this course is 8 weeks. Plan to spend about an hour a week working on the material outside of lab time.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>Prerequisite courses:</h3>
          <p>None!</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


