<div class="container our-program">
  <div class="row">
    <div class="col-md-4 impt-copy">
      <h1 class="invisible">links</h1>
      <ul class="internal-links">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#course-timelines">Why are your course timelines all estimates?</a></li>
        <li><a href="#lab-structure">What does a lab look like?</a></li>
      </ul>
    </div>
    <div class="col-md-8 impt-copy">
      <h1 id="overview">Our program</h1>
      <p>Our hybrid program combines the human connection of in-person classes with the efficiency of online courses. You'll go through a personalized playlist of tutorials and exercies to get exposure to new material on your own, but you'll also attend regular video coaching labs with small groups of students working on similar problems.</p>
      <p>These hour-long labs are key to the learning process at Loris. While the tutorials and exercises give you an introduction to new material, their main job is to get you to think of good questions to ask during labs. Our trained coaches will help you through any issues you're having and guide your work on personal projects. You'll also get plenty of attention - all of your labs will have a 5:1 student-teacher ratio.</p>
      <p>In addition to the coaching you'll get from labs, we'll also give you feedback as you progress through the milestones in each course. Not everyone learns in the same way at the same rate, so you'll have the flexibility to learn at your own pace. We'll provide gentle reminders as well as plenty of support to make sure you're on track to achieving your goals.</p>
      <p>By the end of each course, you'll have a unique project that demonstrates your ability as well as a portfolio of all the learning that happened along the way!</p>
      <h2>FAQ</h2>
      <h3 id="course-timelines">Why are your course timelines all estimates?</h3>
      <p>We don't believe in forcing students to all learn at the same pace. Students complete our courses only when they demonstrate mastery, not after attending some arbitrary number of labs. But we also know that having no timeline information can make planning difficult, so we've included estimated completion timelines based on our work with previous students.</p>
      <h3 id="lab-structure">What does a lab look like?</h3>
      <p>You'll meet with a coach and up to four other students in a Google hangout to share your code and talk through conceptual roadblocks. Labs include a mix of structured activities, discussions and general office hours.</p>
      <p>For example, your coach might begin a lab by having every student first complete a warm-up challenge then discuss their strategies and solutions. Next your coach might conduct a short review session on roadblocks that students ran into after the previous lab. Finally, a lab might end with open office hours - students work on portfolio projects and ask coaches for help as needed.</p>
      <p>No two labs will ever be the same, however. Each lab is customized by our coaches to meet the immediate learning needs of students who attend.</p>
    </div>
  </div>
</div>

