<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 impt-copy">
      <h1>Pricing</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="pricing row">
            <div class="col-md-6">
              <div class="price"><span class="currency">$</span>199</div>
              <div class="timeframe">per month</div>
            </div>
            <div class="col-md-6 features">
              <p>You'll get:</p>
              <ul>
                <li>4 one-hour labs<sup>*</sup></li>
                <li>Personalized feedback on projects</li>
                <li>Access to all video resources</li>
              </ul>
              <div class="footnote"><sup>*</sup>Extra labs may be purchasesd for $50 each</div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer">
        <p>We provide a suggested timeline for each course, but you have full control over your own learning. You might decide to whip through a web design course in just 3 weeks and attend 5 labs or spread it out over 8 weeks and attend 7 labs.</p>
      </div>
    </div>
  </div>
</div>

