<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 impt-copy">
      <h1>Pricing</h1>
      <p>Access to all our resources, personalized feedback and 4 one-hour labs per month is $150 per month. Extra lab sessions may be purchased for $50 each.</p>
      <p>We provide a suggested timeline for each course, but you have full control over your own learning. You might decide to whip through a web design course in just 3 weeks and attend 5 labs or spread it out over 8 weeks and attend 7 labs</p>
    </div>
  </div>
</div>

