<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 impt-copy">
      <h1>Web App Development - Phase 1</h1>
      <hr>
      <p>This course is for beginners who have coded websites but are new to programming. You'll learn how to use Ruby and Rails to process forms submitted by users.</p>
      <h2>What you'll build</h2>
      <p>The possibilities just open up when you can process user submitted forms. You might choose to build an <a href="http://www.madglibs.com/">online Mad Libs game</a>, a complex <a href="http://www.wordcounter.net/">calculator</a>, a <a href="http://www.smartgirl.org/fortune.html">fortune teller</a> or even a simple   <a href="http://www.cleverbot.com/">conversational AI</a>. Click on the image below to check out an example final project.</p>
      <a class="thumbnail" href="http://loris-rails-1.herokuapp.com">
        <%= image_tag('rails_1_example.png', class: 'img-responsive') %>
      </a>
      <div class="row">
        <div class="col-md-6">
          <h3>Skills and concepts you'll learn</h3>
          <ul class="list-group">
            <li class="list-group-item">How to set up your computer for  programming in Rails</li>
            <li class="list-group-item">How to display an HTML page in a Rails app</li>
            <li class="list-group-item">How to create forms in HTML</li>
            <li class="list-group-item">How to use variables</li>
            <li class="list-group-item">How to create and access arrays</li>
            <li class="list-group-item">How to use conditional logic</li>
            <li class="list-group-item">Common Ruby methods for strings and integers</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Timeline</h3>
          <p>The estimated time to finish this course is 8 weeks. Plan to spend about an hour a week working on the material outside of lab time.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3>Prerequisites:</h3>
          <div class="list-group">
            <a class="list-group-item" href="/html">Website Design</a>
          </div>
          <p>Instead of completing a course, you can submit an equivalent final project to test out of a prerequisite.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


