<p>Thanks for your application, <%= @application.student_first_name %>!</p>
<p>You applied for <strong><%= @application.course %></strong>, which starts on <strong><%= DateTime.parse(@application.section).strftime('%B %d, %Y at %l:%M%P') %></strong></p>
<p>We will be in touch with you shortly. </p>
