/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Colors */

$primary-color: #4caf50;

/* Global */

h1 {
  font-size: 3.2em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

body {
  padding-top: 66px;
}
.spacer {
  padding-top: 1.2em;
}

.invisible {
  opacity: 0;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  border-color: $primary-color;
}

/* Nav */

.navbar {
  // -webkit-box-shadow: none;
  // box-shadow: none;
  .container-fluid {
    width: 1170px;
  }
}

.impt-copy p {
  line-height: 1.6;
  font-size: 1.4em;
}

.internal-links {
  padding-left: 0;
  list-style-type: none;
  font-size: 1.4em;
  line-height: 1.4;
  li {
    padding-bottom: 0.4em;
  }
}

/* Home */
.jumbotron {
  background-color: #FFF;

  .main-heading {
    color: $primary-color;
    font-size: 2.6em;
  }

  h1 {
    border: none;
  }

}

.form-inline .form-control {
  width: 300px;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 $primary-color;
  box-shadow: inset 0 -2px 0 $primary-color;
}

select:focus, select.form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 $primary-color;
  box-shadow: inset 0 -2px 0 $primary-color;
}

.course-img {
  height: 100px;
}


/* Class page */
.panel-box {
  position: relative;
  div {
    width: 70%;
  }
}

.panel-body hr {
  margin-top: 1em;
  margin-bottom: 1.4em;
}

.class-list-btn {
  position: relative;
  bottom: 3px;
  left: 0px;
  margin-top: 1em;
}



/* Forms */

textarea, textarea.form-control {
  box-shadow: none;
  border: 1px solid lightgray;
  border-radius: 0.25em;
  padding: 0.4em;
}

textarea:focus, textarea.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: $primary-color;
}


/* Footer */

footer {
  padding-top: 2em;
  padding-bottom: 3em;
  text-align: center;
}

/* About */

.about-image {
  padding-bottom: 1em;
  margin: 0 auto;
}

/* Our program */
.our-program h3 {
  margin-top: -60px;
  padding: 70px 0 0 0;/*add approx 1.1em in px for top padding here*/
}



@media (min-width: 768px) {
  .class-list-btn {
    position: absolute;
    left: auto;
    bottom: 3px;
    right: 3px;
  }

  .jumbotron {
    .main-heading {
      font-size: 4em;
    }
  }

}
