// Place all the styles related to the roadmaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-heading {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 3em;
}
